<form action="/favourites" method="post">
  <button class="bg-green-300 p-2 hover:bg-green-500" type="submit">
    Add to Favourite
  </button>
  <input type="hidden" name="id" value="<%= home.id %>" />
</form>
